::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgb(47, 47, 47);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(85, 85, 85);
}

body {
    background-color: rgb(8, 8, 8);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

header {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 0;
    background-color: rgb(15, 15, 15);
    justify-content: space-between;
    width: 100%;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.header-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    background-color: rgb(15, 15, 15);
    justify-content: space-between;
    width: 90%;
}

.logo-h1 {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 5px;
}

.logo-h1 img {
    display: flex;
    padding: 0;
    margin: 0;
    width: 64px;
    height: 64px;
    border-radius: 10px;
}

.logo-h1 a {
    display: flex;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.logo-h1 h1 {
    display: flex;
    padding: 0;
    margin: 0;
    font-weight: lighter;
    font-size: 42px;
    color: rgb(255, 255, 255);
    cursor: default;
}

header nav {
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
}

header nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
    gap: 10px;
}

header nav ul li {
    display: flex;
    padding: 0;
    margin: 0;
}

header nav ul li a {
    display: flex;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

header nav ul li a h1 {
    padding: 0;
    margin: 0;
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: lighter;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
}

.starting-section {
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
}

.starting-section .starting-section-img {
    position: absolute;
    display: flex;
    padding: 0;
    margin: 0;
    z-index: -999;
    aspect-ratio: none;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    filter: blur(2px);
}

.starting-section-h1-div {
    position: relative;
    display: flex;
    padding: 200px 0 200px 0;
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 48px;
}

.starting-section-h1-div h1 {
    font-weight: 400;
    text-shadow: 5px 5px 1px rgb(8, 8, 8);
    cursor: default;
}

.starting-section-about-div {
    position: relative;
    display: flex;
    padding: 100px 0 100px 0;
    margin: 0;
    background-color: rgb(15, 15, 15);
    width: 100%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.starting-section-about-div h1 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    padding: 0;
    margin: 0;
    font-weight: 500;
    cursor: default;
}

.starting-section-about-div p {
    color: rgb(255, 255, 255);
    font-size: 24px;
    padding: 0;
    margin: 0;
    cursor: default;
}

.news-section {
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
}

.news-section .news-section-img {
    position: absolute;
    display: flex;
    padding: 0;
    margin: 0;
    z-index: -999;
    aspect-ratio: none;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    filter: blur(2px);
}

.news-section-h1-div {
    position: relative;
    display: flex;
    padding: 200px 0 200px 0;
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 48px;
}

.news-section-h1-div h1 {
    font-weight: 400;
    text-shadow: 5px 5px 1px rgb(8, 8, 8);
    cursor: default;
}

.news-section-news-cards-div {
    position: relative;
    display: flex;
    padding: 100px 0 100px 0;
    margin: 0;
    background-color: rgb(15, 15, 15);
    width: 100%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.news-card-div {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    border: solid 1px rgb(25, 25, 25);
    box-shadow: 0 0 8px 1px rgba(43, 43, 43, 0.6);
    transition: all 0.3s;
}

.news-card-div:hover {
    box-shadow: 0 0 8px 1px rgba(88, 88, 88, 0.6);
    scale: 1.010;
}

.news-card-div img {
    display: flex;
    padding: 0;
    margin: 0;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 200px;
}

.news-card-text-div {
    display: flex;
    padding: 5px;
    margin: 0;
    flex-direction: column;
}

.news-card-text-div h1 {
    display: flex;
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 24px;
    cursor: default;
}

.news-card-text-div p {
    display: flex;
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 16px;
    cursor: default;
}

.news-card-text-div h5 {
    display: flex;
    padding: 0;
    margin: 0;
    color: rgb(172, 172, 172);
    font-weight: lighter;
    justify-content: flex-end;
    font-size: 14px;
    cursor: default;
}

.statistics-section {
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
}

.statistics-section .statistics-section-img {
    position: absolute;
    display: flex;
    padding: 0;
    margin: 0;
    z-index: -999;
    aspect-ratio: none;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    filter: blur(2px);
}

.statistics-section-h1-div {
    position: relative;
    display: flex;
    padding: 200px 0 200px 0;
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 48px;
}

.statistics-section-h1-div h1 {
    font-weight: 400;
    text-shadow: 5px 5px 1px rgb(8, 8, 8);
    cursor: default;
}

.statistics-section-statistics-cards-div {
    position: relative;
    display: flex;
    padding: 100px 0 100px 0;
    margin: 0;
    background-color: rgb(15, 15, 15);
    width: 100%;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.statistics-card-div {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0;
    max-width: 256px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    border: solid 1px rgb(25, 25, 25);
    border-radius: 10px;
    box-shadow: 0 0 8px 1px rgba(43, 43, 43, 0.6);
    transition: all 0.3s;
}

.statistics-card-div:hover {
    box-shadow: 0 0 8px 1px rgba(88, 88, 88, 0.6);
    scale: 1.010;
}

.statistics-card-div img {
    display: flex;
    padding: 0;
    margin: 0;
    filter: invert(100%);
    width: 128px;
    height: 128px;
}

.statistics-card-div h1 {
    display: flex;
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 28px;
    cursor: default;
}

.features-section {
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
}

.features-section .features-section-img {
    position: absolute;
    display: flex;
    padding: 0;
    margin: 0;
    z-index: -999;
    aspect-ratio: none;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    filter: blur(2px);
}

.features-section-h1-div {
    position: relative;
    display: flex;
    padding: 200px 0 200px 0;
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 48px;
}

.features-section-h1-div h1 {
    font-weight: 400;
    text-shadow: 5px 5px 1px rgb(8, 8, 8);
    cursor: default;
}

.features-section-features-cards-div {
    position: relative;
    display: flex;
    padding: 100px 0 100px 0;
    margin: 0;
    background-color: rgb(15, 15, 15);
    width: 100%;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.features-divs-wrapper {
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
    width: 45%;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.features-card-div {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    max-width: 256px;
    border: solid 1px rgb(25, 25, 25);
    border-radius: 10px;
    box-shadow: 0 0 8px 1px rgba(43, 43, 43, 0.6);
    transition: all 0.3s;
}

.features-card-div:hover {
    box-shadow: 0 0 8px 1px rgba(88, 88, 88, 0.6);
    scale: 1.010;
}

.features-card-div img {
    display: flex;
    padding: 0;
    margin: 0;
    filter: invert(100%);
    width: 128px;
    height: 128px;
}

.features-card-div h1 {
    display: flex;
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 28px;
    cursor: default;
}

.features-card-div p {
    display: flex;
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 22px;
    cursor: default;
}

.discord-section {
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
}

.discord-section .discord-section-img {
    position: absolute;
    display: flex;
    padding: 0;
    margin: 0;
    z-index: -999;
    aspect-ratio: none;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    filter: blur(2px);
}

.discord-section-h1-div {
    position: relative;
    display: flex;
    padding: 200px 0 200px 0;
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 48px;
}

.discord-section-h1-div h1 {
    font-weight: 400;
    text-shadow: 5px 5px 1px rgb(8, 8, 8);
    cursor: default;
}

.discord-section-discord-div {
    position: relative;
    display: flex;
    padding: 100px 0 100px 0;
    margin: 0;
    background-color: rgb(15, 15, 15);
    width: 100%;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 35px;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.discord-section-join-discord {
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    align-items: center;
}

.discord-section-join-discord-h1 {
    display: flex;
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-weight: 400;
}

.discord-section-join-discord-p {
    display: flex;
    padding: 0 0 10px 0;
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 24px;
}

.discord-section-discord-widget-button {
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.discord-section-discord-widget-button button {
    display: flex;
    padding: 0;
    margin: 0;
    border-radius: 15px;
    background-color: rgb(88 101 242);
    width: 292px;
    height: 48px;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    border: 0;
}

.discord-section-discord-widget-button button a {
    display: flex;
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 24px;
    font-weight: lighter;
}

.discord-section-invite-omgni {
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    align-items: center;
}

.discord-section-invite-omgni-h1 {
    display: flex;
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-weight: 400;
}

.discord-section-invite-omgni-p {
    display: flex;
    padding: 0 0 10px 0;
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 24px;
}

.discord-section-invite-omgni-p-2 {
    display: flex;
    padding: 2px 0 0 0;
    margin: 0;
    color: rgb(178, 178, 178);
    font-size: 16px;
}

.discord-section-invite-omgni button {
    display: flex;
    padding: 0;
    margin: 0;
    border-radius: 15px;
    background-color: rgb(88 101 242);
    width: 292px;
    height: 48px;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    border: 0;
}

.discord-section-invite-omgni button a {
    display: flex;
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 24px;
    font-weight: lighter;
}

.team-section {
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
}

.team-section .team-section-img {
    position: absolute;
    display: flex;
    padding: 0;
    margin: 0;
    z-index: -999;
    aspect-ratio: none;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    filter: blur(2px);
}

.team-section-h1-div {
    position: relative;
    display: flex;
    padding: 200px 0 200px 0;
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 48px;
}

.team-section-h1-div h1 {
    font-weight: 400;
    text-shadow: 5px 5px 1px rgb(8, 8, 8);
    cursor: default;
}

.team-section-team-div {
    position: relative;
    display: flex;
    padding: 100px 0 100px 0;
    margin: 0;
    background-color: rgb(15, 15, 15);
    width: 100%;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.team-card-div {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    max-width: 256px;
    width: 172px;
    border: solid 1px rgb(25, 25, 25);
    border-radius: 10px;
    box-shadow: 0 0 8px 1px rgba(43, 43, 43, 0.6);
    transition: all 0.3s;
}

.team-card-div:hover {
    box-shadow: 0 0 8px 1px rgba(88, 88, 88, 0.6);
    scale: 1.010;
}

.team-card-div img {
    display: flex;
    padding: 0;
    margin: 0;
}

.team-card-div h1 {
    display: flex;
    padding: 3px;
    margin: 0;
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-size: 28px;
    cursor: default;
}

.team-roles-div {
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: row;
    gap: 5px;
}

.owner {
    position: relative;
    display: flex;
    padding: 5px;
    margin: 0;
    background: linear-gradient(130deg, rgb(139, 43, 43), rgb(88, 7, 7));
    border-radius: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.owner p {
    display: flex;
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
    cursor: default;
}

.admin {
    position: relative;
    display: flex;
    padding: 5px;
    margin: 0;
    background: linear-gradient(130deg, rgb(139, 43, 43), rgb(88, 7, 7));
    border-radius: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.admin p {
    display: flex;
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
    cursor: default;
}

.developer {
    position: relative;
    display: flex;
    padding: 5px;
    margin: 0;
    background: linear-gradient(130deg, rgb(76, 170, 44), rgb(38, 109, 14));
    border-radius: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.developer p {
    display: flex;
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
    cursor: default;
}

.helper {
    position: relative;
    display: flex;
    padding: 5px;
    margin: 0;
    background: linear-gradient(130deg, rgb(44, 103, 170), rgb(14, 63, 109));
    border-radius: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.helper p {
    display: flex;
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
    cursor: default;
}
